.home-left {
    float: left;
}

.home-right {
    float: right;
}

.home-card {
    font-family: Quicksand, sans-serif;
    height: 64px;
    color: white;
    width: 400px;
    margin-left: 100px;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../assets/images/card_3.jpg);
    margin-top: 50px;

    .card {
        display: flex !important;
        align-items: center;

        .left {
            margin-left: 10px;
            color: white;
            font-size: 1.35vh;
        }

        .rank {
            color: #999999;
            font-size: 1.35vh;
        }

        .mouse {
            display: inline-block;
            text-align: right;
            font-size: 25px;
        }

        .state {
            color: #737179;
            font-style: italic;
            font-weight: bold;
        }
    }
}

.home-title {
    font-family: Manrope, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    margin-left: 100px;
    margin-top: 20px;
}

.home-xp_bar {
    height: 4px;
    width: 400px;
    margin-left: 100px;
    background: #9b2f32;

    .xp_bar {
        height: 4px;
        width: 400px;
        background: #e9383f;
    }
}

.challenge-card {
    margin-top: 50px;
    height: 200px;
    background: rgba(0, 0, 0, .5);
    color: white;
    width: 400px;
    box-sizing: border-box;
    padding: 24px 24px;
    margin-right: 100px;
    border: 2px solid rgb(17, 24, 39);

    .card {
        .title {
            display: flex;
            justify-content: center;
            flex-direction: wrap;
            font-size: 22.5px;
        }

        .challenge-list {
            font-family: Quicksand, sans-serif;

            .name {
                font-size: 20px;
            }

            .desc {
                font-size: 15px;
                color: #999999;
            }
        }
    }
}

.gamemode-card {
    margin-top: 50px;
    height: 200px;
    background: url(../../assets/images/pcard.png);
    background-size: 400px;
    color: white;
    width: 400px;
    box-sizing: border-box;
    padding: 24px 24px;
    margin-left: 100px;
    border: 2px solid #e9383f;

    .mode {
        color: #e9383f;
        font-size: 22.5px;
        text-transform: uppercase;
    }

    .desc {
        color: #cacaca;
        font-family: Quicksand, sans-serif;
    }

    .button {
        font-family: Brownie, sans-serif;
        border: 0px;
        color: #cacaca;
        font-size: 17.5px;
        border-left: 6px solid #e9383f;
        padding-left: 5px;
        background: black;
        padding: 9px 12px;
        cursor: pointer;

        &:hover {
            color: white;
        }
    }
}